// Variables
$font-primary: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$roboto: "Roboto", serif;
$color-blue:#154384;
$color-orange: #ff7f50;
$color-primary: #0a5f03;
$color-danger: #ff0000;
$font-color-dark: #333;
$font-color-light: #f4f4f4;